{% extends "base.html.twig" %}

{% block additionalBodyClasses %}homeBackground{% endblock %}

{% block body %}
	<div class="identifier--forceDayMode"></div> {# <-- DISABLES NIGHTMODE #}

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body my-3">
					<div class="row">
						<div class="col-12">
							<form action="{{ path("qpost_home_index") }}" method="post">
								<label for="username" class="sr-only">Username</label>
								<input type="text" class="form-control" name="username" id="username"
									   placeholder="Username"/>

								<label for="password" class="sr-only">Password</label>
								<input type="text" class="form-control" name="password" id="password"
									   placeholder="Password"/>

								<button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
								<button type="button" class="btn btn-light btn-lg btn-block">Create an account</button>

								<div class="or">OR</div>

								<button type="button" class="btn btn-success btn-lg btn-block">Sign in with Gigadrive
								</button>
							</form>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="homeBase">
		<div class="container pt-3">
			&nbsp; {# <-- POSSIBLY ADD LINKS LIKE "DISCOVER" ETC. #}

			<button type="submit" class="btn btn-primary mb-2 float-right" data-toggle="modal"
					data-target="#loginModal">Log in
			</button>
		</div>

		<div class="container my-5">
			{% block content %}

			{% endblock %}
		</div>
	</div>
{% endblock %}
